<html>
<head>
    <link rel="stylesheet" type="text/css" href="register.css"  />
</head>
<body>
<div class="register">

<h1>REGISTRATIONFORM</h1>
<div>
    <div>
        <form id="reg-form" name="form" ng-submit="registerCtrl.register()">
            <div>Prename:</div>
            <input type="text" pattern="[a-zA-Z ]+" name="prename" ng-model="registerCtrl.user.prename" required="">

            <div>Surname:</div>
            <input type="text" pattern="[a-zA-Z ]+" name="surname" ng-model="registerCtrl.user.surname" required="">

            <div>E-Mail:</div>
            <input type="email" name="email" ng-model="registerCtrl.user.email" required="">

            <div>Password:</div>
            <input type="password" id="password" pattern=".{6,}" name="password" ng-model="registerCtrl.user.password" title="6 characters minimum" required="">

            <div>Repeat Password:</div>
            <input type="password" ng-model="registerCtrl.user.password_repeat" compare-to="registerCtrl.user.password" id="password_repeat" name="password_repeat" required="">
            <div ng-show='form.password_repeat.$invalid && !form.password_repeat.$pristine'> The repeated password does not match. </div>

            <div><input type="checkbox" ng-model="checked" required=""> I have read the <a target="" href="narroForm" download="NARRO_Form.pdf">NARRO</a> form</div>
            <div></div>
                <button type="submit" ng-disabled="form.$invalid">Register</button>
        </form>

    </div>
</div>
</div>
</body>
</html>