<html>
<head>
    <link rel="stylesheet" type="text/css" href="forgottenPassword.css"  />
</head>
<body>
<div class="header">
<h1>FORGOTTEN PASSWORD</h1>
</div>

<div>
    <form name="form" ng-submit="forgottenPassword.sendForgottenPasswordRequest()">
        <div class="forgotten">
        <div>E-Mail</div>
        <input type="email" required="" name="email" ng-model="forgottenPassword.email" required="">

        <div>Repeat E-Mail</div>
        <input type="email" compare-to="forgottenPassword.email" required="" name="email_check" ng-model="forgottenPassword.email_check" required="">

        <div ng-show='form.email_check.$invalid && !form.email_check.$pristine'> The repeated e-mail does not match.
        </div>
        <div></div>
        <button ng-disabled="form.$invalid" type="submit">Request Reset</button>
        </div>
    </form>
</div>
</body>
</html>
