<!DOCTYPE html>
<html ng-app="Panda">
<head lang="en">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="/assets/javascripts/grunt/Project_Panda.js"></script>

    <meta charset="UTF-8">
    <title>FORGOTTEN PASSWORD</title>
</head>
<body>
<h1>FORGOTTEN PASSWORD</h1>

<div ng-controller="ForgottenPasswordCtrl as forgottenPassword">
    <form ng-submit="forgottenPassword.sendForgottenPasswordRequest()">
        <div>E-Mail</div>
        <input type="email" name="email" ng-model="forgottenPassword.email" required="">
        <div>Repeat E-Mail</div>
        <input type="email" name="email" ng-model="forgottenPassword.email_check" required="">
        <div></div>
        <button type="submit">Request Reset</button>
    </form>
</div>
</body>
</html>