<h1>FORGOTTEN PASSWORD</h1>

<div>
    <form name="form" ng-submit="forgottenPassword.sendForgottenPasswordRequest()">
        <div>E-Mail</div>
        <input type="email" required="" name="email_entered" ng-model="forgottenPassword.email_entered" required="">

        <div>Repeat E-Mail</div>
        <input type="email" compare-to="forgottenPassword.email_entered" required="" name="email_check" ng-model="forgottenPassword.email_check" required="">

        <div ng-show='form.email_check.$invalid && !form.email_check.$pristine'> The repeated e-mail does not match.
        </div>
        <div></div>
        <button ng-disabled="form.$invalid" type="submit">Request Reset</button>

    </form>
</div>

