<div class="body">
    <div class="grad"></div>

<!--
    <div class="header">
        <div>
            Login
        </div>
    </div>

    <form name="form" ng-submit="loginCtrl.sendLogin()" method="post">
        <div class="login">
            E-Mail:<br>
            <input type="text" name="name" ng-model="loginCtrl.user.email" required=""/><br>
            Password:<br>
            <input type="password" name="password" ng-model="loginCtrl.user.password" required=""><br>
            <br>
            <button ng-disabled="form.$invalid" type="submit">Login</button>
        </div>
    </form>

    <div id="click">
        Click <a href="#/forgottenPassword">here</a> if you have forgotten your credentials.
    </div>
    <div id="register">
        <a href="#/register">Register</a>
    </div>
-->

    <div class="login">
        <h1>Login</h1>
        <form name="login" ng-submit="loginCtrl.sendLogin()" method="post">
            <p><input type="text" name="name" value="" placeholder="Username or Email" autofocus="" ng-model="loginCtrl.user.email" required=""/></p>
            <p><input type="password" name="password" value="" placeholder="Password" ng-model="loginCtrl.user.password" required=""></p>
            <p class="submit"><input type="submit" name="commit" value="Login" ng-disabled="form.$invalid"></p>
        </form>
        
        <div class="login-help">
            <p>Forgot your password? <a href="#/forgottenPassword">Click here to reset it</a>.</p>
            <p>Want to register as a volunteer? <a href="#/register">Click here to register</a>.</p>
        </div>
    </div>

</div>