<form>
    <div ng-if="overviewCtrl.permission === null">
        <div><a href="#/coreData">Coredata</a></div>
        <div><a href="#/qualifications">Qualifications</a></div>
        <div ng-if="overviewCtrl.eventCheck(overviewCtrl.user.event_selected)"><a href="#/eventSpecific">Event-specific</a></div>
    </div>

    <div ng-show="overviewCtrl.permission === 'admin'">
        <div><a href="#/adminCoreData">Coredata</a></div>
        <div><a href="#/adminQualifications">Qualifications</a></div>
        <div ng-if="overviewCtrl.eventCheck(overviewCtrl.user.event_selected)"><a href="#/adminEventSpecific">Event-specific</a></div>
        </div>
</form>

<form><h1>PROFILE OVERVIEW</h1>

   <div>
    <img ng-src="{{overviewCtrl.user.profilePicture}}" width = "50px"><br>
       {{overviewCtrl.labels.prename}}
            {{overviewCtrl.user.prename}}<br>

       {{overviewCtrl.labels.surname}}
            {{overviewCtrl.user.surname}}<br>

       {{overviewCtrl.labels.emailAddress}}
           {{overviewCtrl.user.emailAddress}}<br>

       {{overviewCtrl.labels.gender}}
            {{overviewCtrl.user.gender}}<br>

       {{overviewCtrl.labels.nationality}}
            {{overviewCtrl.user.nationality}}<br>

       {{overviewCtrl.labels.zip}}
           {{overviewCtrl.user.zip}} {{overviewCtrl.user.city}}<br>

       {{overviewCtrl.labels.phonenumber}}
           {{overviewCtrl.user.phoneNumber}}<br>

       {{overviewCtrl.labels.currentWork}}
           {{overviewCtrl.user.currentWork}}<br>

       {{overviewCtrl.labels.motherTongue}}
           {{overviewCtrl.user.motherTongue}}<br>

       {{overviewCtrl.labels.itKnowledge}}
           {{overviewCtrl.user.it1}}<br>
           {{overviewCtrl.user.it2}}<br>
           {{overviewCtrl.user.it3}}<br>
           {{overviewCtrl.user.it4}}<br>
    </div><br>

    <div>{{overviewCtrl.labels.event}}
        Select Event:
        <select ng-model="overviewCtrl.user.event"
                ng-options="event.value as event.description for event in overviewCtrl.values.event">
        </select>

    </div><br>

        <div>
            <button ng-click="overviewCtrl.user.event_selected = overviewCtrl.user.event">Add</a></button>
        </div>

        <div>
            <button ng-click="overviewCtrl.user.event_selected = null">Remove</a></button>
        </div>

</form>



