<form ng-show="overviewCtrl.user.role == volunteer"><h1>VOLUNTEER OVERVIEW</h1>

    <a href="#/coreData">Coredata</a>
    <a href="#/qualifications">Qualifications</a>
    <a href="#/eventSpecific">Event-specific</a>
    <form ng-submit="overviewCtrl.logout()">
        <button type="submit">Logout</button>
    </form>
</form>

<form ng-show="overviewCtrl.user.role == admin"><h1>ADMIN OVERVIEW</h1>

    <div>
        <button type="submit">Add</button>
        <button type="submit">Edit</button>
        <button type="submit">Delete</button>
    </div><br>

    <div>Select Event:
        <select ng-model="overviewCtrl.admin.event">
            <option value='' disabled selected style='display:none;'>Open here</option>
            <option value="ICG 16">ICG 16</option>
            <option value="...">...</option>
            <option value="...">...</option>
            <option value="...">...</option>
        </select>
    </div>


    <form ng-submit="overviewCtrl.get()">
        <button type="submit">Get Volunteer Data</button>
    </form>
        <div ng-repeat="x in overviewCtrl.user">
            <br>Prename: {{x.prename}}
            <br>Surname: {{x.surname}}
            <br>Email:   {{x.email}}
            <br><a href="#/coreData">Edit this user</a>
           </div>
        </div>

</form>

