<h1>CORE DATA</h1>
<style type="text/css">.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 350px;
}
</style>
<form id="form_personal" name="form_personal" ng-submit="coreDataCtrl.saveData(coreDataCtrl.user)">
    <div>
        {{coreDataCtrl.labels.prename}}
        Prename: <input type="text" name="prename" ng-model="coreDataCtrl.user.prename"><br>
        <br>
        {{coreDataCtrl.labels.surname}}
        Surname: <input ng-model="coreDataCtrl.user.surname" type="text" name="surname">
    </div>
    <br>

    <div>
        {{coreDataCtrl.labels.gender}}
        Choose your gender:<br>
        <br>

        <select ng-model="coreDataCtrl.user.gender"
                ng-options="gender.value as gender.description for gender in coreDataCtrl.values.gender">
        </select>

        <!-- gender.value = Value that is being sent
                 as gender.description = Description that is being inserted (that is what the user sees)
                 for gender = that's the name of each element in the data repeat
                 in coreDataCtrl.test.gender = That's where the description and the value comes from
                 -->

        <!--
            <option ng-repeat="gender in coreDataCtrl.test.gender" value="{{gender.Value}}"> {{gender.Description}}</option>
        -->
        <!--
                <select ng-model="coreDataCtrl.user.gender" ng-options="coreDataCtrl.test.gender.Value as option.name for option in coreDataCtrl.test.gender>
                </select>
        -->
    </div>
    <br>
    {{coreDataCtrl.labels.nationality}}
    Nationality:
    <select ng-model="coreDataCtrl.user.nationality"
            ng-options="nationality.value as nationality.description for nationality in coreDataCtrl.values.nationalities">
    </select>

    <div>
        {{coreDataCtrl.labels.dateOfBirth}}
        Date of Birth:
        <input id="bday" placeholder="dd/mm/yyyy" type="text"
               pattern="(^(((0[1-9]|[12][0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)"
               ng-model="coreDataCtrl.user.dateOfBirth" name="date of birth">
    </div>
    <br>
    <br>

    <div>
        {{coreDataCtrl.labels.socialSecurityNumber}}
        Insert your Social Security Number:
        <input id="ssn" type="text" ng-model="coreDataCtrl.user.socialSecurityNumber"
               name="social security number">
    </div>
    <br>


    <div>
        {{coreDataCtrl.labels.address}}
        <h4>Address</h4>

        <div>
            {{coreDataCtrl.labels.street}}
            Street:<input ng-model="coreDataCtrl.user.street" type="text" name="street">
        </div>
        <br>

        <div>
            {{coreDataCtrl.labels.housenumber}}
            House Number:<input ng-model="coreDataCtrl.user.houseNumber" type="text" name="housenumber">
        </div>
        <br>

        <div>
            {{coreDataCtrl.labels.zip}}
            Zip:<input ng-model="coreDataCtrl.user.zip" type="text" name="zip">
        </div>
        <br>

        <div>
            {{coreDataCtrl.labels.city}}
            City:<input ng-model="coreDataCtrl.user.city" type="text" name="city">
        </div>
        <br>
    </div>

    <div>

        {{coreDataCtrl.labels.country}}
        Country:
        <select ng-model="coreDataCtrl.user.country"
                ng-options="country.value as country.description for country in coreDataCtrl.values.country">
        </select>
    </div>

    <div>
        <br>
        {{coreDataCtrl.labels.phonenumber}}
        Insert your Phone Number:<input type="tel" ng-model="coreDataCtrl.user.phoneNumber" name="phonenumber">
    </div>

    <div>
        <br>
        {{coreDataCtrl.labels.email}}
        Insert your E-Mail:
        <input type="email" ng-model="coreDataCtrl.user.email" name="email">
    </div>
    <br>
    {{coreDataCtrl.labels.preferredLanguage}}
    <div>Preferred Communication Language
        <select ng-model="coreDataCtrl.user.preferredLanguage"
                ng-options="preferredLanguage.value as preferredLanguage.description for preferredLanguage in coreDataCtrl.values.preferredLanguage">
        </select>
    </div>
    {{coreDataCtrl.labels.identification}}
    <h4>Identification</h4>
    {{coreDataCtrl.labels.idType}}
    <div>ID Type:
        <select ng-model="coreDataCtrl.user.idType"
                ng-options="idType.value as idType.description for idType in coreDataCtrl.values.idType">
        </select>
        <!-- Passport / ID-Card -->
    </div>
    <br>

    <div>
        {{coreDataCtrl.labels.idNumber}}
        ID Number:<input ng-model="coreDataCtrl.user.idNumber" type="text" name="idnumber">
    </div>
    <br>
    {{coreDataCtrl.labels.expiryDate}}
    <div>Expiry Date:<input placeholder="dd/mm/yyyy" ng-model="coreDataCtrl.user.expiryDate"
                            pattern="(^(((0[1-9]|[12][0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)"
                            type="text" name="expiry date">
    </div>
    <br>

    <div>
        {{coreDataCtrl.labels.driversLicense}}
        Do you have a driver's licence?<br>
        <select ng-model="coreDataCtrl.user.driversLicense"
                ng-options="driversLicense.value as driversLicense.description for driversLicense in coreDataCtrl.values.driversLicense">
        </select>

        <br>
    </div>
    <br>

    <div><br>

        <div>
            {{coreDataCtrl.labels.em_prename}}
            Emergency Contact Prename:<input ng-model="coreDataCtrl.user.em_prename" type="text">
        </div>

        <div>
            {{coreDataCtrl.labels.em_surname}}
            Emergency Contact Surname:<input ng-model="coreDataCtrl.user.em_surname" type="text">
        </div>

        <div>
            {{coreDataCtrl.labels.em_relation}}
            Emergency Contact Relation:
            <select ng-model="coreDataCtrl.user.em_relation"
                    ng-options="emergencyRelation.value as emergencyRelation.description for emergencyRelation in coreDataCtrl.values.em_relations">
            </select>
        </div>

        <div>
            {{coreDataCtrl.labels.em_phonenumber}}
            Emergency Contact Phonenumber:<input ng-model="coreDataCtrl.user.em_phonenumber" type="tel">
        </div>

        <div>
            {{coreDataCtrl.labels.em_email}}
            Emergency Contact E-Mail:<input ng-model="coreDataCtrl.user.em_email" type="email">
        </div>

    </div>

    <div><br>
        {{coreDataCtrl.labels.jacketSize}}
        Choose your jacket size:
        <select ng-model="coreDataCtrl.user.jacketSize"
                ng-options="jacketSize.value as jacketSize.description for jacketSize in coreDataCtrl.values.jacketSizes">
        </select>
    </div>
    <br>

    <div>
        {{coreDataCtrl.labels.trouserSize}}
        Choose your trouser size:
        <select ng-model="coreDataCtrl.user.trouserSize"
                ng-options="trouserSize.value as trouserSize.description for trouserSize in coreDataCtrl.values.trouserSizes">
        </select>

    </div>
    <br>

    <div>
        {{coreDataCtrl.labels.shoeSize}}
        Choose your shoe size:
        <select ng-model="coreDataCtrl.user.shoeSize"
                ng-options="shoeSize.value as shoeSize.description for shoeSize in coreDataCtrl.values.shoeSizes">
        </select>
    </div>
    <br>
    {{coreDataCtrl.labels.picture}}

    <button ng-click="picture = !picture">Picture upload</button>
    <div ng-show="!picture">
        <img ng-src="{{coreDataCtrl.user.profilePicture}}"/>
    </div>
    <div ng-show="picture">
        Upload your picture:<br>
        <input type="file" ng-model="coreDataCtrl.tmp_picture" id="fileInput" name="pic" accept="image/*"
               app-filereader><br>
        {{coreDataCtrl.labels.profilePicture}}

        <div class="cropArea">
            <img-crop image="coreDataCtrl.tmp_picture" result-image="coreDataCtrl.user.profilePicture"></img-crop>
        </div>
        <div>Cropped Image:</div>
        <div><img ng-src="{{coreDataCtrl.user.profilePicture}}"/></div>

    </div>
    <div>
        <button type="submit">Save</button>
    </div>
    <br>

</form>