<!DOCTYPE html>
<html ng-app="Register" ng-controller="RegisterCtrl as registerCtrl">

<head lang="en">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>

    <!-- Scripts for Server-->
    <script src="/assets/javascripts/RegisterForm.js"></script>
    <script src="/assets/javascripts/RegisterService.js"></script>
    <script src="/assets/javascripts/GetRegistrationService.js"></script>


    <!-- Scripts for local test via WebStorm
    <script src="/Project_Panda/Panda/public/javascripts/RegisterForm.js"></script>
    <script src="/Project_Panda/Panda/public/javascripts/RegisterService.js"></script>
    <script src="/Project_Panda/Panda/public/javascripts/GetLoginDataService.js"></script>
    -->
</head>
<body>
<!-- register/getRegister -->
<div>
    <form ng-submit="registerCtrl.getRegistration()">
        <button type="submit">Get Registration Data</button>
    </form>

    <div ng-repeat="data as registerCtrl.receivedRegistrationData">
        <br>{{data.prename}}
        <br>{{data.surname}}
        <br>{{data.email}}
        <br>{{data.password}}

</div>
    </div>
</body>
</html>