body{
    font-family: Arial;
    font-size: 13px;
    background-image: url("../images/qualification.jpg");
}

h1{
    margin-top: 50px;
    margin-left: 500px;
}

.career{
    margin-left: 20px;
    padding: 30px;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: middle;
    background-color: #FFFFCC;
}

.knowledge{
    margin-left: 40px;
    padding: 50px;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #FFFFCC;
}