<h1>QUALIFICATIONS</h1>
<button ng-click="career = !career; qualificationsCtrl.getData()">Career</button>
    <br>
    <form ng-show="career">
        <div>Current work:
            <select ng-model="qualificationsCtrl.user.currentWork">
                <option value='' disabled selected style='display:none;'>Open here</option>
                <option value="pupil">Pupil</option>
                <option value="undergratuate">Undergraduate</option>
                <option value="apprentice">Apprentice</option>
                <option value="employee">Employee</option>
                <option value="freelance">Freelance</option>
                <option value="retiree">Retiree</option>
            </select>
        </div>
        <br>

        <div>Faculty:<input ng-model="qualificationsCtrl.user.faculty" type="text"></div>
        <br>

        <div>Education Institute:<input ng-model="qualificationsCtrl.user.educationInstitute" type="text"></div>
        <br>

        <div>Career:<textarea ng-model="qualificationsCtrl.user.career" cols="50" rows="10" name="textbox"></textarea></div>
        <br>
        <button ng-click="qualificationsCtrl.saveData()">Save</button>

    </form>

    <button ng-click="knowledge = !knowledge; qualificationsCtrl.getData()">Knowledge</button>
    <br>

    <form ng-show="knowledge">
        <div>Mother Tongue:
            <select ng-model="qualificationsCtrl.user.motherTongue">
                <option value='' disabled selected style='display:none;'>Open here</option>
                <option value="english">English</option>
                <option value="french">French</option>
                <option value="german">German</option>
                <option value="italian">Italian</option>
                <option value="other">Other</option>
            </select>
        </div>
        <br>

        <div>Additional Languages:
            <select ng-model="qualificationsCtrl.user.additionalLanguages">
                <option value='' disabled selected style='display:none;'>Open here</option>
                <option value="english">English</option>
                <option value="french">French</option>
                <option value="german">German</option>
                <option value="italian">Italian</option>
                <option value="other">Other</option>
            </select>
        </div>
        <br>

        <div>Translation Knowledge:<select ng-model="qualificationsCtrl.user.translationKnowledge">
            <option value='' disabled selected style='display:none;'>Open here</option>
            <option value="english">English</option>
            <option value="french">French</option>
            <option value="german">German</option>
            <option value="italian">Italian</option>
            <option value="other">Other</option>

        </select>
        </div>
        <br>

        <div>Interpreting Knowledge:<select ng-model="qualificationsCtrl.user.interpretingKnowledge">
            <option value='' disabled selected style='display:none;'>Open here</option>
            <option value="english">English</option>
            <option value="french">French</option>
            <option value="german">German</option>
            <option value="italian">Italian</option>
            <option value="other">Other</option>

        </select>
        </div>
        <br>

        <div>IT-Knowledge:<select ng-model="qualificationsCtrl.user.ITKnowledge">
            <option value='' disabled selected style='display:none;'>Open here</option>
            <option value="none">None</option>
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="expert">Expert</option>

        </select>
        </div>
        <br>

        <div>Additional Qualifications:<textarea ng-model="qualificationsCtrl.user.additionalQualifications" cols="50" rows="10" name="textbox"></textarea></div>
        <br>

        <div>Event Experiences:<input ng-model="qualificationsCtrl.user.eventExperiences" type="text"></div>
        <br>
        <button ng-click="qualificationsCtrl.saveData()">Save</button>

    </form>

<button ng-click="qualificationsCtrl.saveData()">Save All</button>

