<h1>EVENTSPECIFIC DATA</h1>

<form id="eventspecific" name="eventspecific" ng-submit="eventSpecificCtrl.saveData(eventSpecificCtrl.user)">
        <div>
            Preferred Working Area:{{eventSpecificCtrl.labels.preferredWorkingArea}}
                <select ng-model="eventSpecificCtrl.user.preferredWorkingArea"
                        ng-options="preferredWorkingArea.value as preferredWorkingArea.description for preferredWorkingArea in eventSpecificCtrl.values.preferredWorkingArea">
                </select>
        </div>
        <br>

        <div>
            Availability:{{eventSpecificCtrl.labels.availabilityFrom}}
            From <input id="from" placeholder="dd/mm/yyyy" type="text"
                        pattern="(^(((0[1-9]|[12][0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)"
                        ng-model="eventSpecificCtrl.user.availabilityFrom" name="date of birth">
        </div>
        <br>
        {{eventSpecificCtrl.labels.availabilityFrom}}
        Until: <input id="until" placeholder="dd/mm/yyyy" type="text"
                      pattern="(^(((0[1-9]|[12][0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)"
                      ng-model="eventSpecificCtrl.user.availabilityUntil" name="date of birth">
        <br>

        <div ng-if="eventSpecificCtrl.user.availabilityUntil <= eventSpecificCtrl.user.availabilityFrom">
            The date range is invalid.
        </div>
        <div>{{eventSpecificCtrl.labels.assistance}}
            Are you interested in assisting beforehand?<br>
            <select ng-model="eventSpecificCtrl.user.assistance"
                    ng-options="assistance.value as assistance.description for assistance in eventSpecificCtrl.values.assistance">
            </select>

        </div>
        <br>

        <div>{{eventSpecificCtrl.labels.volunteerComment}}
            Volunteer Comment:
            <textarea ng-model="eventSpecificCtrl.user.volunteerComment" cols="50" rows="10"
                      name="textbox"></textarea>
        </div>
        <br>

        <div>{{eventSpecificCtrl.labels.agreement}}
           Volunteer agreement:<br>
            <select ng-model="eventSpecificCtrl.user.agreement"
                    ng-options="agreement.value as agreement.description for agreement in eventSpecificCtrl.values.agreement">
            </select>

        </div>
        <br>

        {{eventSpecificCtrl.labels.sport}}
        <div>Select the form of sport:</div>
    <select ng-model="eventSpecificCtrl.user.sport"
            ng-options="sport.value as sport.description for sport in eventSpecificCtrl.values.sport">
    </select>
    </div>
        <button form="eventspecific" type="submit">Save</button>
    </div>
</form>



