
body{
    margin: 0;
    padding: 0;
    background: #fff;
    color: #fff;
    font-family: Arial;
    font-size: 13px;
}
.body{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url("img.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.grad{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
}

.header{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
}

.header div{
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.login{
    position: absolute;
    top: calc(50% - 75px);
    left: 640px;
    height: 150px;
    width: 350px;
    padding: 10px;
    margin-top: 10px;
}

.login input[type=text]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 4px;
    color: #fff;
}

.login input[type=password]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 4px;
    color: #fff;
}

.login input[type=submit]{
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    margin-top: 10px;
}

.click{
    position: absolute;
    top: 500px;
    left: 650px;
}

.register{
    position: absolute;
    top: 515px;
    left: 650px;
}
